
.menu {
    height: 90px;
    width: 412px;
    /* display: flex; */
    float:center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 50px;
    /* margin-bottom: -10%; */
    margin: -10px auto 100px auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 20px rgba(0.18, 0, 0.18, 0.18);
}


.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.header {
    background-color: #222222;
    height: 250px;
    padding: 20px 0 0 0;
}

.topleftcard {
    /* margin-bottom: auto; */
    margin-left: 0%;
    /* margin-right: auto; */
    /* padding-left: 0%; */
    padding-right: 0%;
    /* box-shadow: -20px 0px 20px 20px  rgba(0.18, 0.18, 0.18, 0.18); */
    max-height: auto;
    max-width: auto;

}

.topmiddlecard {
    /* margin-bottom: auto; */
    margin-right: 0%;
    margin-left: 10%;
    padding-left: 0%;
    padding-right: 0%;
    /* box-shadow: -20px 0px 20px 20px  rgba(0.18, 0.18, 0.18, 0.18); */
    max-height: auto;
    max-width: auto;
}

.toprightcard {
    /* margin-bottom: auto; */
    margin-right: 0%;
    margin-left: 10%;
    /* padding-left: 0%; */
    /* padding-right: 0%; */
    /* box-shadow: -20px 0px 20px 20px  rgba(0.18, 0.18, 0.18, 0.18); */
    max-height: auto;
    max-width: auto;

}

.wrapper {
    justify-content: center ;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
    padding-right: auto;
    padding-left: auto;
    margin-top: 1%;
    box-shadow: 6px 6px 6px 6px  rgba(0.18, 0.18, 0.18, 0.18);

}


.databox-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #0ea700;
}

.updatebox-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #0ea700;
}

.databox {
    height: 120px;
    width: 250px; 
    margin-top: -10%;
    margin-bottom: 1%;
    margin-left: ;
    box-shadow: 0px 0px 20px 20px rgba(0.18, 0, 0.18, 0.18);
    display: flex;
    /* margin: -10px auto 100px auto; */
    background-color: #FFFFFF;
    /* justify-content: space-evenly; */
    /* padding-top: 20px; */
    padding-bottom: 40px;
    
}

.updatebox {
    /* height: 120px; */
    width:250px;
    margin:50px ;
    float:right;
    top:-40px;

    /* height: 120px; */
    /* width: 250px;  */
    margin-top: -10%;
    margin-bottom: 1%;

    background-color: #FFFFFF;
    padding-bottom: 10px;