
.menu {
    height: 90px;
    width: 512px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: -10px auto 100px auto;
    background-color: #FFFFFF;
    box-shadow: 6px 8px 10px 6px rgba(0.18, 0, 0.18, 0.50);
}


.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.header {
    background-color: #222222;
    height: 200px;
    padding: 16px 0 0 0;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0  rgba(0.18, 0.18, 0.18, 0.18);
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}